
h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    width: 120%;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 8px;
    border: 1px solid  #233E83;
    border-radius: 5px;
    width: 90%;
  }
  
  textarea {
    resize: vertical;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .save-btn,.imprimer-btn, .cancel-btn {
    font-size: 16px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  

  
  .cancel-btn {
    background-color: #dc3545;
    color: white;
  }
  .cancel-btn:hover {
    background-color: #c82333; 
  }
