
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins&family=Quicksand:wght@300&family=Sono:wght@200..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #e9efff;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-bar {
  width: 300px; 
  height: 40px; 
  padding: 5px 10px; 
  font-size: 16px; 
  color: black; 
  background: #FFFFFF;
border: 1px solid #233E83;
border-radius: 7px;
}
button {
    color: white;
    border: none; 
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    width:  80px;
    height: 50px;
    background: rgba(61, 182, 75, 0.99);
    border-radius: 7px;
  }
button:hover {
  background: rgba(51, 149, 62, 0.99);
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
h1 {
  color: #233E83;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;

}
th {
  color:  #233E83;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px  #233E83;
  }
td {
  color: black;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #233E83; 
}
table, th, td {
  margin: 12px;
  padding: 12px;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.addemployee {
  color: white;
  border: none; 
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  width:  120px;
  height: 50px;
  background: rgba(61, 182, 75, 0.99);
  border-radius: 7px;
}
button:hover {
background: rgba(51, 149, 62, 0.99);
}
.addemployeecontainer{
  display: flex;
  justify-content: end;
}







